.cases{
    display: flex;
    width:80%;
    margin:0px auto;
    justify-content: center;
    text-align: left;
    font-family: fantasy;
}

h1{
    font-family: fantasy;
    text-align: center;
    padding-bottom: 20px;
    width:60%;
    border-bottom: 1px solid grey; 
    margin:0px auto;
}

.first{
  padding-right:10%;
}

.cases h5{
    padding-bottom:20%;
}

.btn{
    text-align: center;
    margin-top:20px;
}


@media screen and (max-width: 470px) {
    .first{
        padding-right: 0px;
        width:100vw;
    }

    .num{
     float: right;
     margin-right:15px
    }

    .odd{
        background-color: rgb(187, 189, 212);
    }

    .even{
        background-color: #A1A5F6;
    }
    .cases{
        display:grid;
        width:100%;
        justify-content: left;
    }
    .cases h5{
        padding:0px;
        padding: 7px 0;
        padding-left:5%;
    }
    
}